.header-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;

}
.logo-menu{
    align-items: center;

    display: flex;
    margin: auto 0;
    flex-direction: row;
}
.cart-profile{
    align-items: center;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}
.menu{
    padding: 0 20px;
}
.profile{
    padding: 0 20px;
}