.header-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;

}
.logo-menu{
    align-items: center;
    display: flex;
    margin: auto 0;
    flex-direction: row;
}
.logo-menu .nav-menu{
    display: none;
}

.cart-profile{
    align-items: center;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}

.profile{
    padding: 0 20px;
}
@media only screen and (min-width: 1024px) {
    .header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 570px;
        height: 130px;
        border-bottom: 1px solid rgb(232,232,234);
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
        .logo-menu{
            align-items: center;
        
            display: flex;
            margin: auto 0;
            flex-direction: row;
        }
        .logo-menu ul{
            display: flex;
            margin-left: 30px ;
            align-items: center;

        }
        .logo-menu ul li{
            color: hsl(219, 9%, 45%);
            margin: 0 20px;
            max-height: 570px;
            height: 130px;
            padding-top: 60px;
            cursor: pointer;
          
            
        }
        .logo-menu ul li:hover{
            border-bottom: 5px solid orange;
            
        }
        .logo-menu .nav-menu{
            display: block;
        }
        
        .cart-profile{
            align-items: center;
            margin: auto 0;
            display: flex;
            flex-direction: row;
        }
        .menu{
            padding: 0 20px;
            display: none;
        }
        .logo img{
            width: 150px;
            height: 22px;
        }
        .profile{
            padding: 0 0px 0 50px;
        }
        .profile img{
            width: 50px;
        }
        .mobile-menu{
            display:none !important;
        }
        .mobile-active{
            display: none !important;
        }
    }