.sneakerbox-container{
    display: block;
}
@media only screen and (min-width: 768px) {
    .sneakerbox-container{
    margin-right: 0;
    margin-left: 50px;    
    padding-top: 4%;
    max-width: 500px;
    max-height: 422px;
    width: 100%;
}
}
@media only screen and (min-width: 1024px) {
    .sneakerbox-container{
    margin-right: 0;
    margin-left: 100px;    
    padding-top: 4%;
    max-width: 500px;
    max-height: 422px;
    width: 100%;
}
}