.image-container{
    max-width: 375px;
    margin: 0 auto;
    height: 300px;
    position: relative;

}
.image-container img{
    width: 500px;
    height: 300px;
}

.arrows{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    padding: 0 15px;
}
.prev-arrow{
    width: 40px;
    height: 40px;
    align-items: center;
    border: white solid 1px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.prev-arrow img{
    width: 10px;
    height: 10px;
}
.prev-arrow img:hover{
    cursor: pointer;
 }
 .next-arrow{
    width: 40px;
    height: 40px;
    align-items: center;
    border: white solid 1px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.next-arrow img{
    width: 10px;
    height: 10px;
}
.next-arrow img:hover{
    cursor: pointer;
 }
